<h1>Category: Code</h1>
    <h1 class='post-title'><a href='/dealingWithDynamicDataAlmostWithoutReflection'>Dealing With Dynamic Data (Almost) Without Reflection</a></h1><div class='post-metadata'>Posted on <a href='/archive/2017/12'>Friday, December 29, 2017</a> by James Randall</div>

<p>Often you need to manipulate a data structure without knowing it's shape at compile time, for example when authoring classes that expose generic interfaces or dealing with data described by runtime metadata (database schema, JSON files etc.).</p>
