<h1 class='post-title'><a href='/expressingStrongOpinionsThroughCode'>Expressing Strong Opinions Through Code</a></h1><div class='post-metadata'>Posted on <a href='/archive/2018/01'>Wednesday, January 10, 2018</a> by James Randall</div>

<p>Synopsis: a solution and its code should clearly communicate strong opinions about how it is structured, where things belong, and how things are done. Should be obvious where things fit and cause noticeable friction when people try and do things &quot;off the rails&quot;. Important for large teams to cooperate.</p>

